<table summary="Event form fields">
  <tr>
    <th>Event Name</th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <th>Tweeter ID</th>
    <td><%= f.text_field(:tweeter_id) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= f.text_field(:description) %></td>
  </tr>
  <tr>
    <th>Event Date</th>
    <td><%= f.date_field(:event_date) %></td>
  </tr>
  <tr>
    <th>Location Address</th>
    <td><%= f.text_field(:location_address) %></td>
  </tr>
  <tr>
    <th>State</th>
    <td><%= f.text_field(:state) %></td>
  </tr>
  <tr>
    <th>Zip</th>
    <td><%= f.text_field(:zip) %></td>
  </tr>
  <tr>
    <th>Congressional District</th>
    <td><%= f.text_field(:congressional_district) %></td>
  </tr>
</table>